@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Work+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Work Sans', sans-serif;
}

/* header css start here */
/* header-banner start here */
.header-banner {
  width: 100%;
  /* height: 110vh; */
  background-color: rgba(255, 144, 14, 0.1);
}

.architects {
  display: flex;
  justify-content: space-around;
}

.archiects-title {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  font-family: 'Work Sans', sans-serif;
  margin: 50px 200px 0px 0px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
  margin: 63px 0px 0px 40px;
}

/* header-banner end here */

/* group start here */
.group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

.group-title {
  font-size: 64px;
  line-height: 70px;
  color: #131313;
}

.group-para {
  font-size: 16px;
  line-height: 24px;
  color: #727272;
  margin-top: 20px;
}

.group-btn {
  width: 132px;
  height: 23px;
  color: #fff;
  background-color:
    #FF900E;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
}

/* group end here */

/* big img start here */
.big-img {
  width: 90%;
  height: 700px;
  margin: 0 auto;
}

.big-img img {
  width: 100%;
  height: 100%;
}

/* big img end here */
/* header css end here */

/* main css start here */
/* section quick start here */
.img-quick {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.img-head {
  width: 342px;
  height: 342px;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-list img {
  width: 100%;
  height: 100%;
}

.quick-list {
  display: flex;
  flex-direction: column;
}

.quick-title {
  font-size: 45;
  line-height: 53px;
}

.dark {
  color: #727272;
}

.oragne {
  color: #FF900E;
}

.quick-para {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
}

.quick-btn {
  width: 130px;
  height: 50px;
  color: white;
  background-color: #FF900E;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
}

/* section quick start here */
/* feature css start here */
.feature-main {
  width: 80%;
  height: 800px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;

}

.feature-list {
  display: flex;
  flex-direction: column;
}

.feature-title {
  color: #131313;
  font-size: 40px;
  line-height: 50px;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-para {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.feature-para-h4 h4 {
  color: #131313;
  font-size: 20px;
  line-height: 23px;
}

.feature {
  width: 50%;
  position: relative;
}

.feature img {
  width: 100%;
  height: 100%;
}

/* feature css start here */
/* year css btn */
.year-btn {
  width: 200px;
  height: 100px;
  background-color: #f68606;
  margin-top: -100px;
  z-index: 1;
  position: absolute;
  text-align: center;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  font-size: 45px;
  line-height: 50px;
}

.year-btn small {
  font-size: 24px;
  line-height: 30px;
}

/* some facts css start here */
.facts {
  margin: 130px 150px;
}

.facts-title {
  color: #131313;
  font-size: 45px;
  line-height: 53px;
}

.facts-para {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
}

/* some facts css end heres */
/* logo css star here */
.logo-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}

.logo {
  text-align: center;
  padding: 20px;

}

.logo:hover {
  background-color: lightcoral;
  border-radius: 20px;
}

.logo-img {
  width: 46px;
  height: 46px;
  padding-left: 50px;
}

.logo-img img {
  width: 100%;
  height: 100%;

}

.logo-number {
  color: #424242;
  font-size: 45px;
  line-height: 53px;
}

.logo-para {
  color: #727272;
  font-size: 20px;
  line-height: 23px;
}

/* logo css end here */
/* our-sponsor css start here */
.our-title {
  width: 40%;
  margin: 100px auto;

}
.sponsor-head {
  color: #131313;
  font-size: 45px;
  line-height: 53px;
}

.our-para {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
}
/* our-sponsor css end here */
/* sponsor logo css start here */
.sponsor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.sponsor-log {
  width: 165px;
  height: 50px;
  opacity: .8;

}

.sponsor-log img {
  width: 100%;
  height: 100%;
}

/* sponsor logo css end here */
/* my extra 10 marks css start here */
  
.extra {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 100px auto;
  background-color: rgba(240, 196, 196, 0.512);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  opacity: .9;
}

.extra h1 {
  font-size: 35px;
  color: #131313;

}

.extra form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65%
}

form input {
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.submit {
  width: 30%;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  border-radius: 5px;
}

.submit:hover {
  background-color: lightcoral;
}


/* my extra 10 marks css start here */

/* main css end here */


/* footer css start here */
.copy-right {
  width: 90%;
  margin: 100px auto;
  padding: 50px;
  text-align: center;
  color: #424242;
  background-color: #FFF4E7;
  font-size: 20px;
  line-height: 23px;
  border-radius: 10px;
}

/* footer css end here */


/* media responsive css start here */
@media only screen and (max-width:576px) {
  .header-banner {
    width: 100%;
    height: auto;
  }

  .group,
  ul,
  .architects {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .quick-title,
  .archiects-title {
    font-size: 24px;
    color: #131313;
    margin: 0;
  }

  ul li {
    margin: 0;
  }

  .group {
    width: 100%;
    height: auto;
  }

  .feature-title,.group-title {
    font-size: 30px;
    line-height: 36px;
  }

  .big-img {
    width: 100%;
    height: auto;
  }

  .img-quick {
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .img-head {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: auto;
    gap: 5px;
  }

  .feature-main {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    flex-direction: column-reverse;
  }

  .feature {
    width: 100%;
    height: auto;
    position: none;

  }

  .year-btn {
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 10px;
   
  }
  .year-btn small{
    font-size: 14px;
  }

  .facts {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  .facts-title {
    font-size: 30px;
    line-height: 30px;
  }

  .logo-section {
    width: 100%;
    flex-direction: column;
    margin: 10px 0px;

  }

  .logo-img {
    margin-left: 30%;
  }

  .our-title {
    width: 95%;
    margin: 10px 0px;
    text-align: center;
  }

  .sponsor-head {
    font-size: 30px;
    line-height: 30px;
  }
  .sponsor {
    width:100%;
    margin:10px 0px;
    flex-direction: column;
    gap:10px;
    align-items: center;
   
  }
  .sponsor-log{
    width:100px;
    height: auto;
    text-align: center;
  }
  .extra{
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
    align-items: center;

  }
  .submit {
    width: 45%;
    margin:0px;
    font-size: 20px;
    border-radius: 5px;
  }
  .extra h1 {
    font-size: 24px;
    color: #131313;
  }
  .copy-right{
    width:100%;
    margin: 10px 0px;
    padding:0px;
    font-size: 16px;
    line-height: 20px;

  }


}

/* media responsive css start here */